form {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  height: calc(100vh - 80px);
  cursor: pointer;
}

.running {
  cursor: not-allowed;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
}

.alive {
  background-color: lightgreen;
}

.dead {
  background-color: lightcoral;
}

button {
  /*TODO: this is more of a hack to make it look better, should be fixed in the future*/
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
}
